[user]
  email = {{ .git.email }}
  name = {{ .git.name }}
  signingkey = {{ .git.signingkey }}

[format]
  signoff = true

[commit]
  gpgsign = true

[rerere]
  enabled = true
  autoupdate = true

[color]
  ui = true

[core]
  excludesFile = ~/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[github]
  user = mateusfdl

[diff]
  algorithm = histogram
  indentHeuristic = true
  colorMoved = default

[pull]
  mode = rebase
  rebase = true

[rebase]
  autoStash = true

[init]
  defaultBranch = main

[gpg]
{{- if eq .chezmoi.os "darwin" }}
  program = /opt/homebrew/bin/gpg
{{- else }}
  program = gpg
{{- end }}

[url "git@github.com:"]
	insteadOf = https://github.com/

[credential]
  helper = store
