live_config_reload = true

import = [
    "~/.config/alacritty/themes/.selected_theme.toml"
]

[env]
TERM = "tmux-256color"

[font]
size = {{ .alacritty.font.size }}

[font.bold]
family = "{{ .alacritty.font.family }}"
style = "Medium"

[font.bold_italic]
family = "{{ .alacritty.font.family }}"
style = "BoldItalic"

[font.italic]
family = "{{ .alacritty.font.family }}"
style = "Italic"

[font.normal]
family = "{{ .alacritty.font.family }}"
style = "Regular"

[window.dimensions]
columns = 120
lines = 45

[window.padding]
x = 0
y = 0
