unbind C-b

set-option -g prefix C-s 	#set prefix to C-s

set -s escape-time 10   	

set -g focus-events on
setw -g automatic-rename on   # rename window to reflect current program
set -g renumber-windows on    # renumber windows when a window is close
set -g set-titles on          # set terminal title
bind Enter copy-mode # enter copy mode

bind b list-buffers  # list paste buffers
bind p paste-buffer  # paste from the top paste buffer
bind P choose-buffer # choose which buffer to paste from

{{- if eq .chezmoi.os "darwin" }}
set-option -g default-terminal "xterm-256color"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
set-option -g default-terminal "screen-256color"
{{- end }}

set-option -ga terminal-overrides ",xterm-256color:Tc"

bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "tmux show-buffer | sed 's/\x1b\[[0-9;]*[a-zA-Z]//g' | osc52"
bind -T copy-mode-vi y send -X copy-pipe-and-cancel "tmux osc52"
bind -T copy-mode-vi Enter send -X copy-pipe-and-cancel "tmux osc52"

-set -g @continuum-restore 'on'
