[env]
MISE_GO_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/go"
MISE_LUA_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/lua"
MISE_RUBY_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/ruby"
MISE_NODE_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/node"
MISE_RUST_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/rust"

[tools]
go = "1.23.0"
neovim = "latest"
node = "22.2.0"
rust = "stable"
fzf = "latest"
ruby = "3.1.0"
lua = "5.4.6"
elixir = "1.16.0"
chezmoi = "2.9.5"
stylua = "0.20.0"
pnpm = "latest"

{{ if eq .chezmoi.os "linux" }}
cmake = "latest"
clangd = "latest"
clang-format = "latest"
java = "21"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
swift = "latest"
swiftformat = "latest"
swiftgen = "latest"
swiftlint = "latest"
tuist = "4.24.0"
{{ end }}

[settings]
go_set_gobin = true
