[env]
MISE_GO_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/go"
MISE_LUA_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/lua"
MISE_NODE_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/node"
MISE_RUST_DEFAULT_PACKAGES_FILE = "~/.config/mise/default-packages/rust"

[tools]
python = "stable"
zig = "0.16.0"
go = "latest"
node = "24.14.1"
rust = "stable"
lua = "latest"
zig = "latest"
k6 = "latest"
bun = "latest"
"cargo:zola" = { git = "https://github.com/getzola/zola" }


{{ if eq .chezmoi.os "linux" }}
cmake = "latest"
clang-format = "latest"
java = "21"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
swift = "latest"
swiftformat = "latest"
swiftgen = "latest"
swiftlint = "latest"
tuist = "4.24.0"
{{ end }}

[settings]
go_set_gobin = true

[settings.node]
compile = false
